name: Build and Discover

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  discover:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install chaostoolkit .
      - name: Discover
        run: |
          if chaos discover chaostoolkit-aws 2>&1 | grep "WARNING"; then
            printf "\nchaos discover output a WARNING, failing step.\n"
            exit 1
          fi
